@page "/customappearance"
@using Resources
@using C1.Blazor.Core
@using C1.Blazor.Grid
@using System.Collections.ObjectModel;

<h1>@AppResources.CustomAppearanceTitle</h1>
<p>@AppResources.CustomAppearanceDescription</p>

<FlexGrid ItemsSource="customers"
          HeadersVisibility="GridHeadersVisibility.All"
          GridLinesVisibility="GridLinesVisibility.All"
          ColumnHeaderGridLinesVisibility="GridLinesVisibility.All"
          RowHeaderGridLinesVisibility="GridLinesVisibility.All"
          TopLeftHeaderGridLinesVisibility="GridLinesVisibility.All"
          DefaultRowHeight="38"
          DefaultColumnHeaderRowHeight="38"
          DefaultRowHeaderColumnWidth="38"
          CellStyle="@("padding:4px")"
          ShowMarquee="true"
          SelectionMode="GridSelectionMode.CellRange"
          GridLinesColor="@("#FFD0D7E5")"
          ColumnHeaderGridLinesColor="@("#FF9EB6CE")"
          RowHeaderGridLinesColor="@("#FF9EB6CE")"
          TopLeftHeaderGridLinesColor="@("#FF9EB6CE")"
          Style="@("max-height:50vh;color:#000;border: 1px solid #9EB6CE")"
          RowStyle="@("background-color:#fff")"
          CursorStyle="@("background-color:rgba(208,215,229,0.2);color:#000")"
          EditorStyle="@("background-color:#fff;color:#000")"
          TopLeftHeaderStyle="@("background-color:#A9C4E9")"
          RowHeaderStyle="@("background-color:#E4ECF7;color:#000")"
          RowHeaderSelectedStyle="@("background-color:#FFD58D")"
          SelectionStyle="@("background-color:#EAECF5;color:#000")"
          SelectionAdornerStyle="@("border-color:#fff;color:#fff")"
          ColumnHeaderStyle="@("background-image:linear-gradient(to bottom,#F6FAFB,#D5DDEA);color:#000")"
          ColumnHeaderSelectedStyle="@("background-image:linear-gradient(to bottom,#F8D79B,#F1C263)")"
          AllowResizing="GridAllowResizing.Both"/>

@code {
    ObservableCollection<Customer> customers;

    protected override void OnInitialized()
    {
        customers = Customer.GetCustomerList(100);
    }
}
