@page "/responsivesizing"
@using Resources
@using System.Collections.ObjectModel;
@using C1.Blazor.Core
@using C1.Blazor.Grid

<h1>@AppResources.ResponsiveSizingTitle</h1>
<p>@AppResources.ResponsiveSizingDescription</p>
<p>@AppResources.ResponsiveSizingInstructions</p>

<FlexGrid ItemsSource="customers"
          DefaultColumnWidth="GridLength.Star"
          AutoGenerateColumns="false"
          AllowResizing="GridAllowResizing.None"
          HeadersVisibility="GridHeadersVisibility.Column"
          GridLinesVisibility="GridLinesVisibility.None"
          ColumnHeaderGridLinesVisibility="GridLinesVisibility.None"
          VerticalScrollBarVisibility="ScrollBarVisibility.Visible"
          Style="@("max-height:50vh;background-color:#fff")"
          RowStyle="@("background-color:#E5E6FA;color:#000")"
          AlternatingRowStyle="@("background-color:#fff")"
          ColumnHeaderStyle="@("background-color:#778898;color:#fff;font-weight:bold")"
          SelectionStyle="@("background-color:#FAD127;color:#000")">
    <FlexGridColumns>
        <GridColumn Binding="FirstName" />
        <GridColumn Binding="LastName" />
        <GridColumn Binding="LastOrderDate" Format="d" />
        <GridColumn Binding="OrderTotal" Format="N" HorizontalAlignment="C1HorizontalAlignment.Right" />
    </FlexGridColumns>
</FlexGrid>

@code {
    ObservableCollection<Customer> customers;

    protected override void OnInitialized()
    {
        customers = Customer.GetCustomerList(100);
    }
}
