@using System.Globalization
<Router AppAssembly="@typeof(Program).Assembly">
  <Found Context="routeData">
    <_App RouteData="@routeData"></_App>
    <RouteView RouteData="@routeData" DefaultLayout="@typeof(ControlLayout)" />
  </Found>
  <NotFound>
    <LayoutView Layout="@typeof(MainLayout)">
      <p>Sorry, there's nothing at this address.</p>
    </LayoutView>
  </NotFound>
</Router>

@code{
    static public bool isGrapeCityVersion
    {
        get {
            return CultureInfo.
                CurrentUICulture.TwoLetterISOLanguageName.Equals("zh", StringComparison.OrdinalIgnoreCase);
        }
    }
}