@page "/grouping"
@using C1.Blazor.ListView
@using C1.DataCollection
@using Resources

<h1>@AppResources.GroupingTitle</h1>
<p>@AppResources.GroupingDescription</p>

<C1ListView ItemsSource="@collection" T="Customer" DisplayMemberPath="Name" GroupBackgroundColor="@("#F1F1F1")" Style="@("max-height:50vh")" />

@code
{
    C1DataCollection<Customer> collection;

    protected override async Task OnInitializedAsync()
    {
        var cv = new C1DataCollection<Customer>(Customer.GetCustomerList(100));
        await cv.GroupAsync("Country");
        collection = cv;
    }
}
