@page "/TreeView/Adding"
@using C1.Blazor.Core
@using C1.Blazor.TreeView
@using System.Collections.ObjectModel
@using Localization

<style>
    .block{
        float: left;
        margin-right: 15px;
    }
</style>

<div class="block">
    Unbound TreeView
    <C1TreeView @ref="unboundTreeView" Style="_c1Style" SelectionMode="C1SelectionMode.Single" ExpandMode="TreeViewExpandMode.Single" OnItemSelected="OnUnBoundTreeSelectedItemChanged">
        <TreeViewItem Header="Node 1" IsExpanded="true">
            <TreeViewItem Header="Node 1.1">
                <TreeViewItem Header="Node 1.1.1" />
                <TreeViewItem Header="Node 1.1.2" />
                <TreeViewItem Header="Node 1.1.3" />
            </TreeViewItem>
        </TreeViewItem>
        <TreeViewItem Header="Node 2" />
        <TreeViewItem Header="Node 3" />
    </C1TreeView>
</div>
<div class="block">
    Bound TreeView
    <C1TreeView @ref="boundTreeView" IsExpandedPath="Expanded" ItemsSource="@_dataSource" ChildItemsPaths="Subdirectories"
                DisplayMemberPaths="Name" Style="@_c1Style" SelectionMode="C1SelectionMode.Single"
                ExpandMode="TreeViewExpandMode.Single" OnItemSelected="OnBoundTreeSelectedItemChanged" />
</div>
<div class="block">
    <div>
        <input @bind="newItemName" />
    </div>
    <div style="margin-top: 15px; margin-bottom: 15px;">
        @TreeViewRes.Adding_UnBoundTree
        <button @onclick="AddFirstUnBoundTree" class="btn btn-default btn-outline-dark">@TreeViewRes.Adding_FirstChild</button>
        <button @onclick="AddLastUnBoundTree" id="btnLast" class="btn btn-default btn-outline-dark">@TreeViewRes.Adding_LastChild</button>
    </div>
    <div>
        @TreeViewRes.Adding_BoundTree
        <button @onclick="AddFirstBoundTree" class="btn btn-default btn-outline-dark">@TreeViewRes.Adding_FirstChild</button>
        <button @onclick="AddLastBoundTree" id="btnLast" class="btn btn-default btn-outline-dark">@TreeViewRes.Adding_LastChild</button>
    </div>
</div>
<div style="clear: both"></div>
<_Sections>
    <Title>@TreeViewRes.AddingTitle</Title>
    <Summary>@TreeViewRes.AddingSummary</Summary>
    <Description>@((MarkupString)TreeViewRes.AddingSummary)</Description>
</_Sections>

@code{
    C1TreeView unboundTreeView, boundTreeView;
    string newItemName = TreeViewRes.AddNewNode;
    TreeViewItem boundTreeSelectedItem, unBoundTreeSelectedItem;
    readonly C1Style _c1Style = new C1Style
    {
        Height = 500,
        Width = 300,
        BackgroundColor = "#f0f0f0"
    };
    #region Create data for Bound TreeView
    readonly ObservableCollection<Directory> _dataSource = new ObservableCollection<Directory>()
{
        new Directory()
        {
            Name = "Node 1",
            Expanded = true,
            Subdirectories = new ObservableCollection<Directory>
        {
                new Directory
                {
                    Name = "Node 1.1",
                    Subdirectories = new ObservableCollection<Directory>
                {
                        new Directory {Name = "Node 1.1.1"},
                        new Directory {Name = "Node 1.1.2"},
                        new Directory {Name = "Node 1.1.3"}
                    }

                }
            }
        },
        new Directory
        {
            Name = "Node 2",
        },
        new Directory
        {
            Name = "Node 3",
            Subdirectories = new ObservableCollection<Directory>()
        }
    };

    public class Directory
    {
        public string Name { get; set; }
        public ObservableCollection<Directory> Subdirectories { get; set; } = new ObservableCollection<Directory>();
        public bool Expanded { get; set; }
    }
    #endregion

    public void OnBoundTreeSelectedItemChanged(TreeViewItem item)
    {
        boundTreeSelectedItem = item;
    }
    public void OnUnBoundTreeSelectedItemChanged(TreeViewItem item)
    {
        unBoundTreeSelectedItem = item;
    }

    #region Add node for Bound TreeView
    public void AddFirstBoundTree()
    {
        var customType = new Directory { Name = newItemName };
        var collection = (boundTreeSelectedItem?.DataItem as Directory)?.Subdirectories ?? _dataSource;
        collection.Insert(0, customType);
        boundTreeView.Expand(boundTreeSelectedItem?.Items.First() ?? boundTreeView.Items.First());
    }
    public void AddLastBoundTree()
    {
        var customType = new Directory { Name = newItemName };
        var collection = (boundTreeSelectedItem?.DataItem as Directory)?.Subdirectories ?? _dataSource;
        collection.Add(customType);
        boundTreeView.Expand(boundTreeSelectedItem?.Items.Last() ?? boundTreeView.Items.Last());
    }
    #endregion

    #region Add node for UnBound TreeView
    public void AddFirstUnBoundTree()
    {
        TreeViewItem tvType = new TreeViewItem { Header = newItemName };
        var treeViewItemCollection = unBoundTreeSelectedItem?.Items ?? unboundTreeView.Items;
        treeViewItemCollection.Insert(0, tvType);

        unboundTreeView.Expand(treeViewItemCollection.First());
    }

    public void AddLastUnBoundTree()
    {
        TreeViewItem tvType = new TreeViewItem { Header = newItemName };
        var treeViewItemCollection = unBoundTreeSelectedItem?.Items ?? unboundTreeView.Items;
        treeViewItemCollection.Add(tvType);

        unboundTreeView.Expand(treeViewItemCollection.Last());
    }
    #endregion
}