@page "/FlexChart/Funnel"
@using Localization
@using C1.Chart;
@using C1.Blazor.Chart;
@using C1.Blazor.Input;

    <FlexChart Class="chart" ChartType="ChartType.Funnel" LegendPosition="Position.Right" LegendStyle="font-size:16px"
               BindingX="stage" ItemsSource="Data">
        <SeriesCollection>
            <Series Name="Actual" Binding="count" />
        </SeriesCollection>
        <AxisCollection>
            <Axis AxisType="AxisType.X" Position="Position.None" />
            <Axis AxisType="AxisType.Y" Position="Position.None" />
        </AxisCollection>
        <Label>
            <DataLabel Position="LabelPosition.Center" Content="{value}" />
        </Label>
        <Options>
            <ChartOptions FunnelType="type ?? FunnelChartType.Default" FunnelNeckWidth="neckWidth ?? 0.2" FunnelNeckHeight="neckHeight ?? 0.2"/>
        </Options>
    </FlexChart>

    <_Sections>
        <Title>@FlexChartRes.FunnelTitle</Title>
        <Summary>@FlexChartRes.FunnelSummary</Summary>
        <Description>@FlexChartRes.FunnelDescription</Description>
        <Settings>
            Type <C1ComboBox ItemsSource="types" @bind-SelectedItem="type" Class="filled-drop-down" Style="@("margin:8px 8px 8px 0px")" />
            Neck Width <C1ComboBox ItemsSource="neckWidths" @bind-SelectedItem="neckWidth" Class="filled-drop-down" Style="@("margin:8px 8px 8px 0px")" />
            Neck Height <C1ComboBox ItemsSource="neckHeights" @bind-SelectedItem="neckHeight" Class="filled-drop-down" Style="@("margin:8px 8px 8px 0px")" />
        </Settings>
    </_Sections>

@code {
    List<object> Data { get; set; }

    FunnelChartType[] types = new FunnelChartType[] { FunnelChartType.Default, FunnelChartType.Rectangle };
    FunnelChartType? type = FunnelChartType.Default;

    double[] neckWidths = new double[] { 0, 0.2, 0.4, 0.6, 0.8, 1 };
    double? neckWidth = 0.2;

    double[] neckHeights = new double[] { 0, 0.2, 0.4, 0.6, 0.8, 1 };
    double? neckHeight = 0.2;


    protected override void OnInitialized()
    {
        Data = DataSource.GetData();
    }

    public class DataSource
    {
        private static Random rnd = new Random();

        public static List<object> GetData()
        {
            return new List<object>() {
                new { stage= "Prospects", count= 750 },
                new { stage= "Qualified Prospects", count= 520 },
                new { stage= "Needs Analysis", count= 200 },
                new { stage= "Price Quotes", count= 150 },
                new { stage= "Negotiations", count= 100 },
                new { stage= "Closed Sales", count= 90 }
            };
        }
    }
}
