@using Localization
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DataFilterExplorer.Server</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @DataFilterRes.CarListTitle
            </NavLink>
            <NavLink class="nav-link" href="/FiltersSummary" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> @DataFilterRes.FilterSummaryTitle
            </NavLink>
            <NavLink class="nav-link" href="/CustomFilters" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span>@DataFilterRes.CustomFilterTitle
            </NavLink>
            <NavLink class="nav-link" href="/VirtualSource" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span>@DataFilterRes.VirtualSourceTitle
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
